@tailwind utilities;

:root {
  --background: #111111;
  --foreground: #ededed;
}

.base-canvas,
canvas {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

body {
  overscroll-behavior: none;
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-vercetti), Arial, Helvetica, sans-serif;
}

:root {
  --scrollbarColor: #fff;
  --scrollbarBackground: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbarBackground);
}
::-webkit-scrollbar-thumb {
  border-bottom: 100vh solid var(--scrollbarColor);
}

@keyframes liquid-blob {
  0%,
  100% {
    transform: translate(0, 0) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
}

.animate-liquid {
  animation: liquid-blob 10s infinite alternate ease-in-out;
}
